mat-toolbar{
    
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(246, 226, 248);
    
}

app-autorizado{
    display: flex;
}

.espacio{
    flex: 1 1 auto
}

.saludo-btn {
  opacity: 1;
  cursor: default;
}