.crear-categoria-wrapper {
  padding: 1rem;

  h2 {
    margin-bottom: 1rem;
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .col-span-2 {
      grid-column: 1 / -1;
    }
  }

  .contenedor-botones {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
}