button{
    margin-right: 0.5rem;
}

mat-form-field {
    width: 100%;
    max-width: 500px;
    display: block;
    margin-top: 1rem;
}

.contenedor-botones{
    margin-top: 0.7rem;
    display: flex;
    justify-content: flex-start;
}

