<h2>{{titulo()}}</h2>

<app-mostrar-errores [errores]="errores()" ></app-mostrar-errores>

@if (esCargando()){
    <app-cargando />
} @else{

    <div class="form-grid">

        <app-autocompletar-periodos (idPer)="perId.set($event)" [keywordExterno]="periodoEditDescripcion()"/>

        <app-autocompletar-categorias (idCat)="catId.set($event)" [keywordExterno]="categoriaEditDescripcion()"/>

        <app-autocompletar-subcategorias [idCat]="catId()" (idScat)="scatId.set($event)" [keywordExterno]="subcategoriaEditDescripcion()"/>

        <mat-form-field appearance="fill" class="col-span-2">
            <mat-label>Describe la antigüedad</mat-label>
            <textarea #descripcion [maxLength]="maxCaracteresDescripcion()" matInput [formControl]="antDescripcion" placeholder="Describe sus características, el año de creación, etc."></textarea>
            <mat-hint>{{descripcion.value.length}}/{{maxCaracteresDescripcion()}} caracteres</mat-hint>
            <mat-error>{{obtenerErrorAntDescripcion()}}</mat-error>
        </mat-form-field>

        @if(esEdicion()){
            <app-lista-imagenes-dto [(arrayImagenes)]="imagenesDTO"/>
            <div class="btnAgregarImagenesContainer">
                <button type="button" mat-flat-button
                    (click)="openDialog()"
                    [disabled]="deshabilitarAgregarImagenes()"
                    [class.disabled]="deshabilitarAgregarImagenes()">Agregar más imágenes</button>
            </div>
            <br/>
        }@else {
            <app-upload-imagenes-antiguedad
            [(arrayImgFiles)]="imagenesFiles"
            [arrayNameImgExistentes]="arrayNameImgExistentes()"
            />
        }

    </div>

    <div class="contenedor-botones">
        <button type="button" mat-flat-button [disabled]="isNotAllValid()" (click)="onSubmit()">Guardar cambios</button>
        <a mat-stroked-button routerLink="/antiguedades">Cancelar</a>
        <!-- <button type="button" mat-stroked-button (click)="ConsoleValidFormulario()">Prueba formulario</button> -->
    </div>


<app-mostrar-errores [errores]="errores()" ></app-mostrar-errores>


}