<h2>{{titulo()}}</h2>

<app-mostrar-errores [errores]="errores()" ></app-mostrar-errores>

@if (esCargando()){
    <app-cargando />
} @else{

    <div class="form-grid">

        <app-autocompletar-periodos/>

        <app-autocompletar-categorias/>

        <app-autocompletar-subcategorias/>

        <mat-form-field appearance="fill" class="col-span-2">
            <mat-label>Describe la antigüedad</mat-label>
            <textarea #descripcion [maxLength]="maxCaracteresDescripcion()" matInput formControlName="antDescripcion" placeholder="Describe sus características, el año de creación, etc."></textarea>
            <mat-hint>{{descripcion.value.length}}/{{maxCaracteresDescripcion()}} caracteres</mat-hint>
            <mat-error>{{obtenerErrorAntDescripcion()}}</mat-error>
        </mat-form-field>

    </div>

    <div class="contenedor-botones">
        <button type="button" mat-flat-button [disabled]="isNotAllValid()" (click)="onSubmit()">Guardar cambios</button>
        <a mat-stroked-button routerLink="">Cancelar</a>
        <!-- <button type="button" mat-stroked-button (click)="ConsoleValidFormulario()">Prueba formulario</button> -->
    </div>


<app-mostrar-errores [errores]="errores()" ></app-mostrar-errores>


}