:host {
  display: grid;
  place-items: center;   // centra horizontal y vertical
  width: 100%;
  height: 100%;
}

img {
  display: block;
  width: 64px;
  height: 64px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;   // no deforma
}