
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use '@angular/cdk' as cdk;
@include cdk.text-field-autofill();

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

$theme: mat.define-theme();

html {
  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tooltip-pre .mdc-tooltip__surface {
  white-space: pre-line;   // respeta \n
}

.mdc-text-field__input {
  @include cdk.text-field-autofill-color(transparent, inherit);
}

/* Chrome/Edge */
.mdc-text-field__input:-webkit-autofill,
.mdc-text-field__input:-webkit-autofill:hover,
.mdc-text-field__input:-webkit-autofill:focus,
.mat-mdc-input-element:-webkit-autofill,
.mat-mdc-input-element:-webkit-autofill:hover,
.mat-mdc-input-element:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important; /* quita el fondo amarillo */
  -webkit-text-fill-color: currentColor !important;              /* mantiene color de texto */
  caret-color: currentColor;
  transition: background-color 9999s ease-in-out 0s;              /* evita flash */
}

/* Firefox */
.mdc-text-field__input:-moz-autofill,
.mat-mdc-input-element:-moz-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -moz-text-fill-color: currentColor !important;
}

.indice-elementos{
    margin-top: 1rem;
}

.indice-elementos a{
    margin-right: 1rem;
}