<h2>{{store.titulo()}}</h2>

<button mat-flat-button routerLink="{{store.pathCrear()}}">Crear nuevo</button>

<app-listado-generico [listado]="store.resourcePaginado.value().arrayEntidad">
    <ng-container contenido>
        @if (store.isCargando()) {
            <app-cargando/>
        }
        <table mat-table [dataSource]="store.resourcePaginado.value().arrayEntidad" class="mat-elevation-z8 indice-elementos">

            @for (columna of store.columnasAMostrar(); track $index) {
                @if (columna === "acciones") {
                <ng-container matColumnDef="acciones" >
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let elemento">
                        <a [routerLink]="elemento.acciones.editar" mat-flat-button>Editar</a>
                        <button mat-flat-button color="warn"
                            [swal]="{title: 'Confirmar acción', text: '¿Deseas borrar este registro?', showCancelButton: true}"
                            (confirm)="store.borrarEntidad(elemento.id)">Borrar</button>
                    </td>
                </ng-container>

                } @else {
                <ng-container matColumnDef="{{columna}}">
                    <th mat-header-cell *matHeaderCellDef>{{columna === null? null : columna.charAt(0).toUpperCase() + columna.slice(1)}}</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento[columna]}}</td>
                </ng-container>
                }
            }

            <tr mat-header-row *matHeaderRowDef="store.columnasAMostrar()"></tr>
            <tr mat-row *matRowDef="let row; columns: store.columnasAMostrar()"></tr>

        </table>
        <br/>
        <mat-paginator showFirstLastButtons [length]="store.resourcePaginado.value().totalRegistros" [pageIndex]="store.paginado().pagina - 1"
            [pageSize]="store.paginado().registrosPorPagina" [pageSizeOptions]="[5,10,50]" class="mat-elevation-z8"
            (page)="store.setPageEvent($event)"></mat-paginator>

    </ng-container>
    <app-mostrar-errores [errores]="store.errors()"></app-mostrar-errores>
</app-listado-generico>